/* @import '@fontsource/fira-mono'; */

:root {
	/* font-family: "YS Text", "Helvetica Neue", Arial, Helvetica, sans-serif; */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;

	--color-0: rgb(223, 228, 233);
	--color-100: rgb(58, 58, 62);
	--top-color: black;
	--nav-color: rgb(226, 231, 236);

	--selected-filter: brightness(0.8);
}

[data-theme='dark'] {
	--color-0: rgb(28, 28, 32);
	--color-100: rgb(165, 175, 185);
	--top-color: white;
	--nav-color: rgb(21, 21, 23);

	--selected-filter: brightness(1.3);
}

:root {
	--color-2: color-mix(in lch, var(--color-100) 2%, var(--color-0));
	--color-5: color-mix(in lch, var(--color-100) 5%, var(--color-0));
	--color-10: color-mix(in lch, var(--color-100) 10%, var(--color-0));
	--color-15: color-mix(in lch, var(--color-100) 15%, var(--color-0));
	--color-20: color-mix(in lch, var(--color-100) 20%, var(--color-0));
	--color-30: color-mix(in lch, var(--color-100) 30%, var(--color-0));
	--color-50: color-mix(in lch, var(--color-100) 50%, var(--color-0));
	--color-75: color-mix(in lch, var(--color-100) 75%, var(--color-0));

	--color-green: color-mix(in lch, rgb(60, 200, 60) 80%, var(--color-0));
	--color-red: color-mix(in lch, rgb(255, 60, 60) 80%, var(--color-0));
}

html {
	background-color: var(--color-0);
}

/* base */

* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	color: var(--color-100);
	font-size: 20px;
}

/* link */

a,
a:link,
a:visited,
a:hover {
	text-decoration: none;
}

a {
	color: var(--color-100);
	opacity: 70%;
}

a:hover {
	opacity: 90%;
}

/* common */

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

p {
	text-overflow: ellipsis;
	overflow: auto;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
	padding: 0;
}

address {
	font-style: normal;
}

/* forms */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
	border: none;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* button */

.button {
	background-color: var(--color-100);
	color: var(--color-0);
	text-align: center;
	border-radius: 10px;
	transition: all 0.3s ease-in;
	padding: 10px 15px;
	opacity: 60%;
}

.link {
	opacity: 50%;
	text-align: left;
}

.link:hover,
.link:active {
	opacity: 75%;
}

.text {
	opacity: 75%;
	text-align: left;
}

.text:hover,
.text:active {
	opacity: 100%;
}

.button:hover,
.button:active {
	opacity: 80%;
}


*:disabled,
*:disabled:hover {
	opacity: 40%;
	cursor: auto;
}

.icon {
	transition: opacity 0.3s ease-in;
}

div[role='button'] {
	cursor: default;
}

div[role='textbox'] {
	outline: none;
	border: none;
	width: 100%;
	padding: 0;
}

.selected {
	opacity: 100%;
}

.selected>img {
	filter: var(--selected-filter);
}

/* input */

.input {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid var(--color-15);
	background-color: var(--color-0);
	color: var(--color-100);
}

.input:hover {
	border: 1px solid var(--color-20);
}

.input:focus {
	border: 1px solid var(--color-30);
}

/* failed */

input.failed {
	border: 1px solid var(--color-red);
}

span.failed {
	color: var(--color-red);
	font-size: 14px;
	width: 100%;
	text-align: center;
}

/* link */

.highlighted {
	background-color: var(--color-5);
}

.dragged {
	opacity: 10%;
}

.overlapped {
	opacity: 30%;
}

/* search */

input::-ms-clear {
	display: none;
}

[type='search'] {
	margin: 0;
	width: 100%;
}

[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 24px;
	width: 24px;
	background-image: url('/icons/close.svg');
	cursor: pointer;
}

/* simple */

.clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.scroll {
	overflow-y: auto;
	-ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.right {
	float: right;
	align-self: flex-end;
}

.center {
	align-items: center;
	text-align: center;
}

.away {
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: row;
}

.relative {
	position: relative;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.col {
	display: flex;
	flex-direction: column;
}

.monospace {
	font-family: 'Courier New', Courier, monospace;
}

.bold {
	font-weight: bold;
}

.auth {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-top: 100px;
	margin: 0 auto;
	max-width: 300px;
	width: 100%;
}


.page {
	flex-grow: 1;
	overflow-y: auto;
}

.circle {
	font-size: 14px;
	background-color: var(--color-100);
	color: var(--color-0);
	border-radius: 14px;
	padding: 0 7px;
	height: fit-content;
	opacity: 75%;
}

.atop {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
}

nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: top 0.3s;
	height: auto;
	width: 100%;
	background: var(--color-0);
	border-bottom: 1px solid var(--color-15);
	z-index: 1;
}

@keyframes shy {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.shy {
	opacity: 0;
	animation: shy 1s forwards;
}


@keyframes look {
	20% {
		background-color: var(--color-15);
	}
}

.look {
	animation: look 3s ease-in-out;
}

.show {
	background-color: var(--color-15);
}

.reply {
	border-left: 1px solid var(--color-15);
	padding-left: 15px;
}

.footer {
	position: sticky;
	bottom: 0;

	border-top: 1px solid var(--color-20);
	background: var(--color-0);
}


.placeholder:empty:before,
input:empty:before {
	content: attr(placeholder);
	opacity: 0.5;
}

.position {
	min-width: 50px;
	display: inline-block;
	text-align: center;
	padding-right: 10px;
}

.over {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	background-color: var(--color-0);
	overflow-y: auto;
	transition: all 0.3s ease-in;
}

.hover:hover {
	background-color: var(--color-2);
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.font-24 {
	font-size: 24px;
}

.font-32 {
	font-size: 32px;
}

.gap-2 {
	gap: 2px;
}

.gap-5 {
	gap: 5px;
}

.gap-10 {
	gap: 10px;
}

.gap-15 {
	gap: 15px;
}

.gap-20 {
	gap: 20px;
}

.gap-30 {
	gap: 20px;
}

.gap-40 {
	gap: 40px;
}

.top-5 {
	padding-top: 5px;
}

.top-10 {
	padding-top: 10px;
}

.top-20 {
	padding-top: 20px;
}

.top-30 {
	padding-top: 30px;
}

.top-40 {
	padding-top: 40px;
}

.bottom-20 {
	padding-bottom: 20px;
}

.bottom-60 {
	padding-bottom: 60px;
}

.left-10 {
	padding-left: 10px;
}

.left-15 {
	padding-left: 15px;
}

.left-20 {
	padding-left: 20px;
}

.right-5 {
	padding-right: 5px;
}

.right-10 {
	padding-right: 10px;
}

.right-20 {
	padding-right: 20px;
}

.right-30 {
	padding-right: 30px;
}

.right-50 {
	padding-right: 50px;
}

.padding-3 {
	padding: 3px;
}

.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px;
}

.padding-20 {
	padding: 20px;
}

.padding-40-20 {
	padding: 40px 20px;
}

.line-0 {
	line-height: 1rem;
}

.line-1 {
	line-height: 1.4rem;
}

.line-2 {
	line-height: 2rem;
}

.line-3 {
	line-height: 3rem;
}

.min-width {
	width: min-content;
}

.width-100 {
	width: 100%;
}

.wrap {
	flex-wrap: wrap;
}

.subtitle {
	color: var(--color-75);
	font-size: 14px;
}

.title {
	color: var(--color-75);
	font-size: 16px;
	text-align: center;
	padding: 5px;
}

.label {
	color: var(--color-75);
	font-size: 14px;
}

.hidden {
	visibility: hidden;
	display: none;
}

.content-900 {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}

.top {
	color: var(--top-color);
	opacity: 80%;
}

a.top:hover {
	opacity: 100%;
}

.side {
	height: 100dvh;
	width: 100%;
	overflow-y: auto;
}